html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-primaria);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  align-self: flex-start;
  user-select: none;
}

.header {
  padding: 15px 30px;
}

.nav-menu {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--cor-secundaria);
  font-size: 36px;
  font-weight: bold;
  user-select: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.link-menu {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  user-select: none;
}

.link-menu:hover {
  color: var(--cor-secundaria);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: var(--cor-secundaria);
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--cor-secundaria);
}

.about-box .profile-img {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px black;
  margin-bottom: 15px;
  user-select: none;
}

.about-box .profile-info {
  font-size: 24px;
  line-height: 34px;
  user-select: none;
}

.about-box .profile-info b {
  color: #75fcaf;
}

.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 20px;
  margin-bottom: 30px;
}

.skills-box {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-container .hard-skills,
.skills-container .soft-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cor-secundaria);
  border-radius: 5px;
  user-select: none;
}

.skills-container .img-content {
  width: 90px;
  height: 120px;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-content .skill-img {
  align-items: center;
  width: 40px;
  user-select: none;
}

.sub-section-title {
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
  user-select: none;
}

.skill-name {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  user-select: none;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.projects-container {
  max-width: 100%;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.projects-container .project-nav {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container .project-ul {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-li {
  width: 100%;
  height: 60px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid var(--cor-secundaria);
  border-radius: 5px;
  margin-bottom: 15px;
  user-select: none;
}

.scale {
  height: 580px;
}

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
}

.project-resume {
  width: 100%;
  text-align: center;
  user-select: none;
}

.more-info {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--cor-alternativa);
  text-align: center;
  background-color: var(--cor-secundaria);
  cursor: pointer;
  user-select: none;
  user-select: none;
}

.more-info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-li .project-img {
  width: 100%;
  object-fit: cover;
  margin: 15px 0;
  padding: 0 5px;
  user-select: none;
}

.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.project-description {
  font-size: 20px;
  margin: 15px 5px;
  user-select: none;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-02,
.btn-01 {
  width: 150px;
  background-color: var(--cor-secundaria);
  color: var(--cor-alternativa);
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease;
  user-select: none;
}

.btn-02:hover,
.btn-01:hover {
  opacity: 0.8;
}

.btn-02 {
  background-color: var(--cor-alternativa);
  color: var(--cor-secundaria);
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 100%;
  max-width: 600px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.contact-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 30px 50px;
  gap: 15px;
  background-color: #03fa6e;
}

.contact-container .input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: var(--cor-alternativa);
}

.contact-container .textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: var(--cor-alternativa);
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--cor-alternativa);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.contact-container .input-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--cor-alternativa);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.contact-container .input-btn:hover {
  opacity: 0.9;
}

.contact-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contact-link .contact-img {
  width: 30px;
  transition: all 0.3s ease;
  user-select: none;
}

.contact-link .contact-img:hover {
  transform: scale(1.1);
}

.form-control {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* Error and Success */
.form-control.success input {
  border-color: #fcfdfc;
}

.form-control.error input {
  border-color: #2a446b;
}

.form-control.success i.fa-check-circle {
  color: #fcfdfc;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #2a446b;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #2a446b;
}
