/* Estilização geral */

html {
  scroll-behavior: smooth;
}

body {
  /* max-width: 1440px; */
  /* height: auto; */
  background-color: var(--cor-primaria);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.main {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 1.7rem;
  margin-bottom: 20px;
  align-self: flex-start;
}

/* Estilização do cabeçalho */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  position: fixed;
  z-index: 1;
  background-color: var(--cor-primaria);
}

.header .name-profile {
  color: var(--cor-secundaria);
  font-size: 2.5rem;
  font-weight: bold;
}

.header .nav-menu .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  gap: 50px;
}

.header .nav-menu .nav-link .link-menu {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.header .nav-menu .nav-link .link-menu:hover {
  color: var(--cor-secundaria);
}

/* Estilização da seção de sobre */

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 30px;
}

.about-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-bottom: 25px;
  border-bottom: 0.2rem solid var(--cor-secundaria);
}

.about-box .profile-img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px black;
  margin-bottom: 15px;
}

.about-box .profile-info {
  font-size: 1.5rem;
  text-align: justify;
}

.about-box .profile-info b {
  color: #75fcaf;
}

/* Estilização do habilidades */

.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 15px;
}

.skills-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-container .hard-skills,
.skills-container .soft-skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--cor-secundaria);
  border-radius: 5px;
}

.skills-container .img-content {
  width: 90px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-content .skill-img {
  align-items: center;
  width: 40px;
}

.sub-section-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.skill-name {
  font-size: 0.8rem;
  text-align: center;
  line-height: 18px;
}

/* Estilização da seção de projetos */

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 30px;
}

.projects-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 30px;
}

.projects-container .project-nav {
  width: 50%;
}

.projects-container .project-ul {
  width: 100%;
  margin-top: 0;
}

.project-li {
  width: 100%;
  height: 36px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid var(--cor-secundaria);
  border-radius: 5px;
  margin-bottom: 15px;
}

.scale {
  height: 550px;
}

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
}

.project-resume {
  width: 100%;
  text-align: center;
}

.more-info {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--cor-alternativa);
  text-align: center;
  background-color: var(--cor-secundaria);
  cursor: pointer;
  user-select: none;
}

.more-info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-li .project-img {
  width: 100%;
  object-fit: cover;
  margin: 15px 0;
  padding: 0 5px;
}

.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-description {
  font-size: 1.2rem;
  margin: 15px 5px;
  text-align: justify;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-02,
.btn-01 {
  width: 120px;
  background-color: var(--cor-secundaria);
  color: var(--cor-alternativa);
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease;
}

.btn-02:hover,
.btn-01:hover {
  opacity: 0.8;
}

.btn-02 {
  background-color: var(--cor-alternativa);
  color: var(--cor-secundaria);
}

/* Estilização do contato */

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 30px;
}

.contact-container {
  width: 500px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 30px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 30px;
  gap: 15px;
  background-color: #03fa6e;
}

.contact-container .input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: var(--cor-alternativa);
}

.contact-container .textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: var(--cor-alternativa);
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--cor-alternativa);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.contact-container .input-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--cor-alternativa);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.contact-container .input-btn:hover {
  opacity: 0.9;
}

.contact-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contact-link .contact-img {
  width: 30px;
  transition: all 0.3s ease;
}

.contact-link .contact-img:hover {
  transform: scale(1.1);
}

/* Estilização do rodapé */

.footer {
  width: 100%;
  height: 30px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-info {
  color: var(--cor-secundaria);
  font-size: 0.8rem;
}
